################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataCollector/DataCollector.Console/bin/Debug/net6.0
/DataCollector/DataCollector.Console/obj/Debug/net6.0
/DataCollector/DataCollector.Services/obj
/DataCollector/DataCollector.Console/obj
/DataCollector/.vs/DataCollector/DesignTimeBuild
/DataCollector/.vs/DataCollector/v17
/DataCollector/DataCollector.Services/bin/Debug/netstandard2.0
/DataCollector/DataCollector.Core/bin/*
/DataCollector/DataCollector.Core/obj/*
/DataCollector/.vs/ProjectEvaluation/datacollector.metadata.v2
/DataCollector/.vs/ProjectEvaluation/datacollector.projects.v2
/DataCollector/.vs/DataCollector/FileContentIndex/*
/DataCollector/DataCollector.CollectorWorker/bin/*
/DataCollector/DataCollector.CollectorWorker/obj/*
/DataCollector/DataCollector.Worker/obj/*
/DataCollector/DataCollector.Data/obj/project.nuget.cache
/DataCollector/DataCollector.Data/obj/*
/DataCollector/DataCollector.Data/bin/*
/DataCollector/DataCollector.Data/obj/*
/DataCollector/DataCollector.Data/obj/Debug/net6.0/DataCollector.Data.csproj.AssemblyReference.cache
/DataCollector/DataCollector.Data/obj/*
/DataCollector/DataCollector.Services.Tests/bin/*
/DataCollector/DataCollector.Services.Tests/obj/*
/DataCollector/DataColector.Services.Tests/obj/*
/DataCollector/DataCollector.Web/obj/*
/DataCollector/Host/obj/*
/DataCollector/.vs/*
/DataCollector/DataCollector.Data/obj/DataCollector.Data.csproj.nuget.dgspec.json
/DataCollector/DataCollector.Data/obj/*
/DataCollector/DataCollector.Data/obj/project.assets.json
/DataCollector/DataCollector.Web/web/src/assets/build/*
