################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataCollector/DataCollector.Console/bin/Debug/net6.0
