<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://datacollectorweb20221024201300.scm.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/e4e3e247-5f7b-4488-862c-f361ea8fe5ed/resourcegroups/dotnet-content-creators-02/providers/Microsoft.ContainerRegistry/registries/DataCollectorWeb20221024201437</ContainerResourceId>
    <ContainerResourceName>DataCollectorWeb20221024201437</ContainerResourceName>
    <Subscription>SubscriptionPrivat</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>datacollectorweb20221024201437.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ApiResourceId>/subscriptions/e4e3e247-5f7b-4488-862c-f361ea8fe5ed/resourceGroups/dotnet-content-creators/providers/Microsoft.ApiManagement/service/DataCollectorWebapi/apis/DataCollectorWeb</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/e4e3e247-5f7b-4488-862c-f361ea8fe5ed/resourcegroups/dotnet-content-creators-02/providers/Microsoft.Web/sites/DataCollectorWeb20221024201300</ResourceId>
    <ResourceGroup>dotnet-content-creators-02</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://datacollectorweb20221024201300.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2dbe0158-d422-4fd7-8923-c1018fed795a</ProjectGuid>
  </PropertyGroup>
</Project>